# Can migrate to ~/.config/git/config if this file gets longer.
# This file needs to be copied to %USERPROFILE%\.gitconfig
[push]
	default = matching
[alias]
	ci = commit
	cf = config
	br = branch
	co = checkout
	st = status
	p  = push
[user]
	useConfigOnly = true
	name = Mitsu Uemura
	email = mitsuhide.uemura@gmail.com
[credential]
	helper = cache
[includeIf "gitdir:C:/work/"]
        path = C:/work/.gitconfig
